<!-- Working at Cloudin Labs -->
<!-- You just have to keep driving down the road. It's going to bend and curve and you'll speed up and slow down, but the road keeps going. -->

<img src="./assets/cloudin_logo.png" class="navbar-logo" alt="img">
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <h1><b>Working at Cloudin Labs</b></h1>
                <div class="about_content">
                    You just have to keep driving down the road. It's going to bend and curve and you'll speed up and slow down, but the road keeps going.
                </div>
            </div>
            <div class="col-4">
                <img src="./assets/career.png" class="career-logo" alt="img">
            </div>
            <div class="col-1"></div>
        </div>
        <button class="btn" (click)="goToPosition()">See Open Position</button>        
    </div>
</div>
