<div class="container-fluid">
<img src="./assets/cloudin_logo.png" class="navbar-logo" alt="img">
<h1 style="margin-left: 5%;font-size: 35px;"><b>Job Openings</b></h1>
<h1 class="heading"><b>Technology</b></h1>
<div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Front End Developer - React JS 3 Vacancy</b></h5>
            <p class="card-text">
                Cloudin team is looking to hire a talented Front End Developer developer to design, build, and maintain the next generation of web applications. Your primary focus will be developing high-end web applications using React js Library.</p>
        </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Backend Developer - 2 Vacancy</b></h5>
            <p class="card-text">
                Cloudin team is looking for an experienced Back-end Developer to join our IT Team. You should have hands-on experience with programming languages and tools like Laravel /CodeIgniter (or any MVC Framework), MySQL / MongoDB /DynamoDB, Rest API, AWS / Digital Ocean, Jira, Kubernetes, Version Controlling (Git /SVN).
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Flutter Developer - 1 Vacancy</b></h5>
            <p class="card-text">
                Cloudin Team is looking out for a Flutter Developer who will be developing and designing product application features across various cross platform devices. He/She should be proficient in Dart and Flutter. Please do update the same in careers pages as soon as possible.
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Dot Net Developer - 2 vacancy</b></h5>
            <p class="card-text">
                Cloudin team is seeking to look for a .NET developer responsible for building .NET applications. You should have a relevant experience with MVC, Net Core, Web API, and SQL Server. A commitment to collaborative problem-solving, sophisticated design, and quality product is essential.
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>iOS  Developer - 2 Vacancy</b></h5>
            <p class="card-text">
                Cloudin team is looking to hire a talented IOS developer to design, build, and maintain the next generation of iOS applications. Your primary focus will be developing high-end iOS applications for the latest Apple mobile device.
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Android  Developer - 2 Vacancy</b></h5>
            <p class="card-text">
                Cloudin team is looking for an Android developer responsible for the development and maintenance of applications aimed at a vast number of various Android devices. Strong knowledge of Kotlin & Flutter, and how to deal with different screen sizes.
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>
  </div>
  <br>
  <br>
</div>

<h1 class="heading2"><b>Software Testing</b></h1>
<div class="card" style="background-color: rgb(241, 241, 231);">
    <div class="row">
        <div class="col-9">
            <h5 class="card-title"><b>Software Tester - 1 Vacancy</b></h5>
            <p class="card-text">
                Cloudin Team is looking for passionate Software Testers to join our team! He/she should have good knowledge of the Selenium suite of Tools (Selenium IDE, Selenium RC, Selenium WebDriver and Selenium Grid).
            </div>
        <div class="col-3">
            <p class="card-text">Coimbatore, Tamil Nadu</p>
            <p class="card-text">Full Time</p>
            <button class="btn">Apply Now</button>        
        </div>
    </div>