<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <h1><b><i class="fa fa-arrow-left"(click)="back()"></i> About Cloudin Labs</b></h1>
                <p class="about_content">
                   <b>WE ARE DIGITAL CREATIVE STUDIO IN COIMBATORE</b>
                </p>
                <P>
                    Cloudin Labs are a full-cycle techno-digital agency focusing on the latest technologies of artificial intelligence, deep learning, and machine learning algorithm along with engineering IoT solutions and helping businesses to achieve industry-specific solutions delivered reliably on time.
                    <br><br>
                    In 2020 Cloudin Labs was acquired by Synth tech, a Dubai-based Blockchain company.
                    <br><br>
                    Cloudin Labs is focused on providing viable, cost-effective Information Technology and related services to both international as well as domestic clients. We emphasize the quality of the projects we undertake rather than their quantity. This is very much evident from our profound long-term existence in today’s fast-growing IT world.
                </P>
            </div>
            <div class="col-4">
                <img src="./assets/about.gif" class="about-logo" alt="img">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row" style="margin-left: 111px;">
            <div class="col-2">
                <h2>08+</h2>
                <h1>Experience</h1>
            </div>
            <div class="col-2">
                <h2>03+</h2>
                <h1>Products</h1>
            </div>
            <div class="col-2">
                <h2>06+</h2>
                <h1>Services</h1>
            </div>
            <div class="col-2">
                <h2>180+</h2>
                <h1>Client</h1>
            </div>
        </div>
        <button class="btn">Know More</button>        
    </div>
</div>