<div class="container-fluid">
    <div class="content">
        <img src="./assets/product.gif" class="product-logo" alt="img">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <h1><b><i class="fa fa-arrow-left"(click)="back()"></i> Our Products</b></h1>
                <p class="about_content">
                    Design and build high-impact digital products and customer experiences
                </p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <h2>01.</h2>
                <h1><b>Inventory</b></h1>
                <p class="about_content">
                    Automates your business by tracking two main functions of your warehouse / stockroom i.e. receiving(incoming) and shipping(outgoing)                
            </div>
            <div class="col-3">
                <h2>02.</h2>
                <h1><b>C-fin</b></h1>
                <p class="about_content">
                    Accomplish the objectives of your business with efficient and effective of management of money(funds) for distribution & collection of payment.                
            </div>
            <div class="col-3">
                <h2>03.</h2>
                <h1><b>CryptoTrack</b></h1>
                <p class="about_content">
                    CryptoTrack News is a useful application for crypto enthusiasts. It includes an aggregator of news and articles, a crypto market monitoring feature, and a portfolio manager.                
            </div>
    </div>
</div>