
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <h1><b><i class="fa fa-arrow-left"(click)="back()"></i> Our Services</b></h1>
                <p class="about_content">
                   Making the world a better place through impact software
                </p>
                
            </div>
        </div>
        <img src="./assets/service.gif" class="service-logo" alt="img">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <h2>01.</h2>
                <h1><b>UX & UI Design</b></h1>
                <p class="about_content">
                    User experiences which are based on in-depth research and sound analysis result in better customer relationships and more revenue. We’ll help you gain real insight into your customers’ needs and build experiences to meet them.                </p>
                
            </div>
            <div class="col-3">
                <h2>02.</h2>
                <h1><b>UX Consultant</b></h1>
                <p class="about_content">
                    Our UX consultants will work closely with your team throughout a project, acting as the bridge between technology and design. We’ll help you deliver more value to your users and achieve your business objectives.                </p>
                
            </div>
            <div class="col-3">
                <h2>03.</h2>
                <h1><b>Development</b></h1>
                <p class="about_content">
                    Great user experiences add value to your business by helping to attract the right attention and driving customer acquisition. We can help you craft customer experiences which accelerate business growth.                </p>
                
            </div>
    </div>
</div>