.container-fluid {
    height: 100vh;
    background-color: antiquewhite;
}
.content {
    padding-top: 5%;
}
.service-logo{
    width: 25%;
    margin-left: 35%;
}
h2{
    font-size: 35px;
    color:gray
}