<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="./assets/cloudin_logo.png" class="navbar-logo" alt="img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/careers">Careers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lets-talk">Let's talk</a>
        </li>
      </ul>
    </div>
  </nav>
  <img src="./assets/home1.gif" class="home-logo" alt="img">
  <div class="dashboard-content">
    <div class="data">
        <h2>Creative Mind, Creative Works</h2>
        <h1 class="highlight">We are doing Digital Transformation</h1>
        <button class="button">Contact Us</button>
    </div>
  </div>
        